<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="index.html" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="core/about.html" class="nav-link">About us</a></li>
        <li class="nav-item"><a href="core/customer.html" class="nav-link">customer</a></li>
        <li class="nav-item"><a href="core/project.html" class="nav-link">project</a></li>
        <li class="nav-item"><a href="core/contact.html" class="nav-link">Contact us</a></li>
      </ul>
    </header>
  </div>